@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #2a2c3d;
    color: #eceeff;
}

.header {
    color: #ffffcc;
    font-weight: 700;
}