@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700;800;900&display=swap');


* {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    scroll-behavior: smooth;
    background-color: #2a2c3d;
    color: #eceeff;
}

section {
    display: grid;
    place-items: end;
    align-content: center;
    min-height: 100vh;
    padding-inline: 20%;
}

section:nth-child(odd) {
    place-items: start;
}

header {
    position: sticky;
    top: 0; 
    z-index: 100;
}

nav {
    display: flex;
    background-color: #2a2c3d;
    padding: 20px 120px;
    width: auto;
    justify-content: space-evenly;
}

nav a {
    font-size: 18px;
    color: #eceeff;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: #00ff9f;
}

.title {
    color: #00ff9f;
    font-weight: 900;
    font-size: 90px;
    width: 13ch;
    animation: typing 2s steps(13), blink .4s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

h1::selection,
p::selection,
nav a::selection {
    background-color: #3d3f57;
}
  
@keyframes blink {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}

.intro {
    width: 60rem;
    font-size: 18px;
    margin-top: 1%;
    line-height: 1.6;
}

.sub-title {
    font-size: 60px;
    color: #d8dcff;
}

.socials {
    margin-top: 1%;
}

.social-icon {
    font-size: 36px; 
}

a:hover .fa,
a:hover .fab {
    color: #00ff9f;
}

footer {
    display: grid;
    place-items: center;
    padding: 1%;
    opacity: 70%;
}